<html>
	<p>Здравствуйте, {{ name }}</p>
	<p>Для подтверждения аккаунта перейдите по ссылке</p>
	<p>
		<a href="{{ url }}">Подтвердить</a>
	</p>
	
	<p>Если вы не отправляли этот запрос, то просто проигнорируйте это сообщение</p>
	<style>
		a{
			font-size: 30px;
		}
	</style>
</html>